<%-include("header.ejs")  -%>

<h2>This is About Page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, nemo quisquam praesentium a iste incidunt, quaerat molestiae dolores ullam alias ut harum fugiat reprehenderit cum numquam eligendi tenetur consequatur maxime?</p>

<%-include("footer.ejs")  -%>